// Tema escuro (padrão) - apenas sobrescreve se necessário
:root {
  --primary-color: #6D54B5;
  --background-color: #2C2638;
  --text-color: #ffffff;
  --text-secondary: #a398bb;

  // Cores adicionais para o tema escuro
  --card-background: #3a3346;
  --border-color: #4a4557;
  --input-background: #3a3346;
  --input-border: #4a4557;
  --shadow: rgba(0, 0, 0, 0.3);
}
