// Tema escuro (padrão) - apenas sobrescreve se necessário
:root, body[data-theme="dark"] {
  --primary-color: #6623F0;
  --primary-color-dark: #531ac9;
  --primary-color-light: #bb98ff;
  --background-color: #0F1319;
  --text-color: #ffffff;
  --text-secondary: #728296;
  --secondary-color: #1e252f;
  --tertiary-color: #323c4b;

  // Cores adicionais para o tema escuro
  --card-background: #3a3346;
  --border-color: #4a4557;
  --input-background: #3a3346;
  --input-border: #4a4557;
  --shadow: rgba(0, 0, 0, 0.3);
  --sidebar-bg: #1e252f;
  --hover-bg: rgba(255, 255, 255, 0.1);
}
