:root {
  // Cores
  --primary-color: #6D54B5;
  --secondary-color: #544F63;
  --tertiary-color: #3b3549; // Cinza escuro para subtítulos
  --text-color: #ffffff;
  --text-secondary: #a398bb; // Cinza claro para subtítulos
  --background-color: #2C2638;
  --border-radius: 8px;

  // Tipografia
  --font-family: 'Poppins', sans-serif;
  --font-size-base: 14px;
  --font-size-small: 12px;
  --font-size-large: 16px;
  --font-size-xl: 24px;
  --font-size-xxl: 32px;
  --line-height: 2;

  // Espaçamentos
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 28px;
}
