:root {
  // Cores
  --primary-color: #6623F0;
  --primary-color-light: #bb98ff;
  --primary-color-dark: #531ac9;
  --secondary-color: #1e252f;
  --tertiary-color: #323c4b;
  --text-color: #ffffff;
  --background-color: #0F1319;
  --background-focus-color: #13181f;
  --border-radius: 8px;

  // Tipografia
  --font-family: 'Poppins', sans-serif;
  --font-size-base: 14px;
  --font-size-little-small: 10px;
  --font-size-small: 11px;
  --font-size-medium: 15px;
  --font-size-large: 36px;
  --line-height: 2;

  // Espaçamentos
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 28px;
}
